.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pagination-container button {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: #dcdce6;
    border: 0;
    border-radius: 4px;
    margin-right: 6px;
}

.pagination-container .btn-active {
    background: #e02041;
    box-shadow: 0 0 4px #e02041;
    color: #fff;
} 